*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul,
ol,
li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
html,
body {
	height: 100%;
	line-height: 1;
	background-color: #fff;
	font-family: 'Asap', sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	color: #000;
}
.wrapper {
min-height: 100%;
display: flex;
flex-direction: column;
overflow: hidden;
}

._container {
	max-width: 1170px;
	margin: 0px auto;
	padding: 0px 15px;
	box-sizing: content-box;
}

._ibg {
	position: relative;
}

._ibg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}

.header__page {
	background-color: #0E77AF;
}

.header__container {
	height: 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__icons {
	height: 16px;
}

.header__icon:not(:last-child) {
	margin-right: 21px;
}

.header__email {
	font-size: 12px;
	line-height: 116%;
	color: #fff;
}

.main {
	flex-basis: 1 1 auto;
}

.navigation__container {
	display: flex;
}

@media (max-width: 1024px) {
	.navigation__container {
		justify-content: space-between;
		align-items: center;
	}
}

@media (max-width: 1024px) {
	.navigation__container {
		justify-content: space-between;
		align-items: center;
	}
}

@media (max-width: 425px) {
	.navigation__container {
		justify-content: space-between;
	}
}

.navigation__logo {
	margin: 20px 191px 24px 0px;
}

@media (max-width: 1024px) {
	.navigation__logo {
		margin: 10px 15px 12px 0px;	}
}

.navigation__menu {
	display: flex;
	margin: 52px 58px 51px 0px;
}

@media (max-width: 1024px) {
	.navigation__menu {
		margin: 10px 0px;
	}
}

@media (max-width: 425px) {
	.navigation__menu {
		flex-wrap: wrap;
		justify-content: left;
	}
}

.menu__item:not(:last-child) {
	margin: 0px 20.22px 0px 0px;
}

@media (max-width: 425px) {
	.menu__item:not(:last-child) {
		margin: 0px 10px 0px 0px;
	}
}

@media (max-width: 425px) {
	.menu__item {
		padding: 10px 0px;
	}
}

.menu__link {
	font-size: 14px;
	line-height: 114%;
	color: #000;
}

@media (max-width: 425px) {
	.menu__link {
		font-size: 16px;
	}
}

.menu__link--active {
	font-weight: 700;
}
.navigation__phone {
	display: flex;
	margin: 40px 0px 44px 0px;
}

@media (max-width: 1024px) {
	.navigation__phone {
		margin: 10px 0px;
	}
}

@media (max-width: 768px) {
	.navigation__phone {
		display: none;
	}
}

.navigation__phone-image {
margin: 0px 12px 0px 0px;
}

.navigation__phone-content {
	display: flex;
	flex-direction: column;
}

.phone-content__text {
	font-weight: 400;
	font-size: 14px;
	line-height: 114%;
	color: #7D7D7D;
	margin-bottom: 1px;
}

.phone-content__phone {
	font-weight: 400;
	font-size: 16px;
	line-height: 112%;
	color: #000;
}

.promise {
	height: 647px;
	margin: 0px 0px 100px 0px;
}

@media (max-width: 1024px) {
	.promise {
		margin: 0px 0px 50px 0px;
	}
}

@media (max-width: 425px) {
	.promise {
		height: 283px;
		margin: 0px 0px 20px 0px;
	}
}

@media (max-width: 375px) {
	.promise {
		height: 380px;
		margin: 0px 0px 20px 0px;
	}
}

@media (max-width: 320px) {
	.promise {
		height: 381px;
		margin: 0px 0px 20px 0px;
	}
}

.promise__page {
	position: relative;
}

.content-text {
	position: relative;
	padding: 151px 0px 0px 582px;
	z-index: 1;
	color: #1A1919;
}

@media (max-width: 1024px) {
	.content-text {
		padding: 100px 0px 0px 582px;
	}
}

@media (max-width: 768px) {
	.content-text {
		width: 590px;
		padding: 300px 0px 0px 100px;
	}
}

@media (max-width: 425px) {
	.content-text {
		padding: 15px 15px 15px 15px;
    width: auto;
	}
}

.content-text__topic {
	font-size: 28px;
	line-height: 114%;
	margin: 0px 0px 25px 0px;
}

@media (max-width: 768px) {
	.content-text__topic {
		font-size: 24px;
	}
}

.content-text__title {
	font-weight: 700;
	font-size: 84px;
	line-height: 114%;
}

@media (max-width: 768px) {
	.content-text__title {
		font-size: 60px;
	}
}

.content-text__subtitle {
	font-size: 32px;
	line-height: 131%;
	color: #000;
	margin: 0px 0px 40px 0px;
}

@media (max-width: 768px) {
	.content-text__subtitle {
		font-size: 22px;
	}
}

.content-text__btn {
}

.content-text-btn__link {
	max-width: 284px;
	max-height: 74px;
	background-color: #B4141B;
	font-weight: 700;
	font-size: 24px;
	line-height: 96%;
	text-align: center;
	padding: 26px 63px 25px 70px;
	color: #fff;
}

@media (max-width: 425px) {
	.content-text-btn__link {
		margin: 0px auto;
		padding: 26px 63px 25px 70px;
		text-align: center;
	}
}

.slider{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	padding: 0px;
}

@media (max-width: 425px) {
	.slider{
		display: none;
	}
}

.slick-list {
	overflow: hidden;
}

.slick-track{
	display: flex;
	align-items: center;
}

.slider .slick-arrow{
	position: absolute;
	top: 317px;
	z-index: 1;
	font-size: 0;
	width: 19px;
	height: 35px;
	cursor: pointer;
}

.slider .slick-arrow.slick-prev{
	left: 50px;
	background: url(/img/promise/arrow-left.svg) 0 0 / 100% no-repeat;
}

.slider .slick-arrow.slick-next{
	right: 50px;
	background: url(/img/promise/arrow-right.svg) 0 0 / 100% no-repeat;
}

.slider .slick-arrow.slick-arrow.slick-disabled{
	opacity: 0.2;
}

.slider__item{
	transition: all 0.3s ease 0s;
	text-align: center;
}

.about {
	margin: 0px 0px 100px 0px;
}

@media (max-width: 1024px) {
	.about {
		margin: 0px 0px 50px 0px;
	}
}

@media (max-width: 768px) {
	.about {
		margin: 0px 0px 30px 0px;
	}
}

@media (max-width: 425px) {
	.about {
		margin: 0px 0px 20px 0px;
	}
}

.about__page {
}

.about__container {
}

.about__column {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

@media (max-width: 768px) {
	.about__column {
		flex-direction: column;
		padding: 0px 15px;
		max-width: 100%;
	}
}

@media (max-width: 768px) {
	.about__column {
		overflow: hidden;
	}
}

.column {
}

.column__image {
	display: flex;
	flex-direction: column;
	max-width: 770px;
}

@media (max-width: 1024px) {
	.column__image {
		max-width: 100%;
		margin: 0px 30px 60px 0px;
	}
}

@media (max-width: 425px) {
	.column__image {
		margin: 0px 0px 40px 0px;
	}
}

@media (max-width: 375px) {
	.column__image {
		margin: 0px 0px 35px 0px;

	}
}

@media (max-width: 320px) {
	.column__image {
		margin: 0px 0px 30px 0px;

	}
}

.column-image__title {
	margin: 0px 0px 57px 0px;

}

@media (max-width: 425px) {
	.column-image__title {
		margin: 0px 0px 30px 0px;

	}
}

@media (max-width: 375px) {
	.column-image__title {
		margin: 0px 0px 20px 0px;

	}
}

@media (max-width: 320px) {
	.column-image__title {
		margin: 0px 0px 15px 0px;

	}
}

.title {
	font-weight: 700;
	font-size: 32px;
	line-height: 115%;
	color: #000;
}

.column-image__content>*:not(:last-child) {
	margin: 0px 0px 40px 0px;

}

@media (max-width: 425px) {
	.column-image__content>*:not(:last-child) {
		margin: 0px 0px 20px 0px;

	}
}

@media (max-width: 375px) {
	.column-image__content>*:not(:last-child) {
		margin: 0px 0px 15px 0px;

	}
}

.column-image__image img {
	max-width: 100%;
}

@media (max-width: 768px) {
	.column-image__image {
		overflow: hidden;
	}
}

@media (max-width: 425px) {
	.column-image__image {
		overflow: hidden;
		max-width: 100%;
		height: auto;
	}
}

.column-image__text {
	font-weight: 400;
	font-size: 16px;
	line-height: 181%;
}

.column__cells {
	max-width: 320px;
}

@media (max-width: 768px) {
	.column__cells {
		max-width: 100%;
	}
}

.column-cells__title {
	margin: 0px 0px 56px 0px;

}

@media (max-width: 425px) {
	.column-cells__title {
		margin: 0px 0px 35px 0px;

	}
}

@media (max-width: 375px) {
	.column-cells__title {
		margin: 0px 0px 30px 0px;

	}
}

.column-cells__items {
}

.cells-item {
	padding: 40px 18px 32px 37px;
}

@media (max-width: 425px) {
	.cells-item {
		padding: 20px 15px 20px 20px;
	}
}

@media (max-width: 375px) {
	.cells-item {
		padding: 15px 15px 15px 15px;
	}
}

@media (max-width: 320px) {
	.cells-item {
		padding: 10px 15px 10px 15px;
	}
}

.cells-item>*:not(:last-child) {
	margin: 0px 0px 17px 0px;

}

.cells-item__color-1 {
	background: linear-gradient(to right, #F8F8F8, #F7F7F7);
}

.cells-item__color-2 {
	background: linear-gradient(to right, #F3F3F3, #F3F3F3
);
}

.cells-item__color-3 {
	background: linear-gradient(to right, #FCFCFC, #F7F7F7);
}

.cells-item__title-box {
}

.title-box {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.title-box__title {
	font-weight: 700;
	font-size: 24px;
	line-height: 116%;
	color: #0E77AF;
}

.title-box__image {
}

.cells-item__text {
	font-size: 16px;
	line-height: 156%;
	color: #000;
}

.cells-item__link {
	font-weight: 700;
	font-size: 12px;
	line-height: 241%;
}

.cells-item__link a {
	color: #7D7D7D;
}

.benefits__page {
	position: relative;
}

.benefits__row {
	display: flex;
	flex-wrap: wrap;
	margin: 0px 0px 0px 36px;
}

.col-cells {
	margin: 87px 0px 87px 367px;
}

@media (max-width: 768px) {
	.col-cells {
		margin: 56px 0px 56px 258px;
	}
}

@media (max-width: 425px) {
	.col-cells {
		margin: 11px 0px 11px 0px;
	}
}

@media (max-width: 375px) {
	.col-cells {
		margin: 5px 0px 5px 0px;
	}
}

@media (max-width: 320px) {
	.col-cells {
		margin: 0px;
	}
}

.col-cells__cell:not(:last-child) {
	margin: 0px 0px 21px 0px;
}

.col-cells__cell-link {
	display: flex;
	justify-content: left;
	align-items: center;
	width: 474px;
	height: 96px;
	background-color: #0E77AF;
	padding: 0px 0px 0px 34px;
	font-weight: 700;
	font-size: 22px;
	line-height: 25px;
	color: #fff;
}

@media (max-width: 425px) {
	.col-cells__cell-link {
		align-items: center;
		width: 360px;
		height: 60px;
		font-size: 18px;
		padding: 0px 0px 0px 15px;
	}
}

@media (max-width: 375px) {
	.col-cells__cell-link {
    align-items: center;
    width: 310px;
    height: 54px;
    font-size: 14px;
    padding: 0px 0px 0px 10px;
	}
}

@media (max-width: 320px) {
	.col-cells__cell-link {
    align-items: center;
    width: 255px;
    height: 50px;
    font-size: 13px;
    padding: 0px 0px 0px 10px;
	}
}

.col-cells__cell-link:hover {
	display: flex;
	justify-content: left;
	align-items: center;
	width: 474px;
	height: 96px;
	background-color: #fff;
	padding: 0px 0px 0px 34px;
	font-weight: 700;
	font-size: 22px;
	line-height: 25px;
	color: #000;
}

.col-text {
	display: flex;
	flex-direction: column;
	max-width: 474px;
	margin: 87px 0px 0px 65px;
}

@media (max-width: 1024px) {
	.col-text {
		margin: 50px 0px 0px 50px;
	}
}

@media (max-width: 768px) {
	.col-text {
		margin: 50px 0px 0px 50px;
	}
}

@media (max-width: 425px) {
	.col-text {
		margin: 30px 0px 0px 20px;
		max-width: 340px;
	}
}

@media (max-width: 375px) {
	.col-text {
		margin: 25px 0px 0px 17px;
    max-width: 295px;
	}
}

@media (max-width: 320px) {
	.col-text {
		max-width: 235px;
	}
}

.col-text__col-title {
	font-weight: 700;
	font-size: 32px;
	line-height: 115%;
	margin: 0px 0px 10px 0px;
}

.col-text__col-subtitle {
	font-size: 24px;
	line-height: 116%;
	color: #9B9B9B;
	margin: 0px 0px 38px 0px;
}

@media (max-width: 425px) {
	.col-text__col-subtitle {
		margin: 0px 0px 15px 0px;
	}
}

.col-text__col-list {
	font-size: 16px;
	line-height: 181%;
	margin: 0px 0px 26px 0px;
}

.col-text__col-item {
	list-style-type: disc;
}

.col-text__col-btn-link {
	width: 104px;
	height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 700;
	font-size: 12px;
	line-height: 23px;
	text-align: center;
	background-color: #B4141B;
	color: #FFF;
}

.benefits__image {
	position: absolute;
	top: 0;
	left: 0;
	max-width: 100%;
	height: auto;
	z-index: -1;
}

@media (max-width: 320px) {
	.benefits__image {
		display: none;
	}
}

.benefits__image img {
	max-width: 100%;
}